<div action="" class="div_search">
  <label class="title" for="pokemon" title="Rechercher un pokémon par son id">POKEDEX</label
  ><br />
  <input type="text" [(ngModel)]="pokemonInputInfo" /><br />
  <button class="button-arounder" (click)="getValue()">Valider</button>
</div>

<div id="typedtext"></div>
<div class="div_info" *ngIf="pokemonInfo">
  <p>Voici les infos du pokémon {{ pokemonName }}</p>
  <div class="pokemonInfo">
    <div *ngIf="pokemonPictureShiny">
      <p>{{ pokemonName }} chromatique</p>
      <img src="{{ pokemonPictureShiny }}" alt="" srcset="" />
    </div>
    <div *ngIf="pokemonPictureDefault">
      <p>{{ pokemonName }} normal</p>
      <img src="{{ pokemonPictureDefault }}" alt="" srcset="" />
    </div>
  </div>

  <div *ngIf="descriptionInfo">
    <p *ngIf="pokemonGeneralType">
      {{ pokemonName }} est un {{ pokemonGeneralType }}
    </p>
    <p>Il évolue en {{ descriptionInfo.evolves_from_species.name }}</p>
    <p *ngIf="pokemonInfo.base_experience">
      L'expérience de base de ce pokémon est de
      {{ pokemonInfo.base_experience }}
    </p>
    <p *ngFor="let frenchDescriptionPokemon of frenchDescriptionPokemons">
      {{ frenchDescriptionPokemon }}
    </p>
  </div>
</div>
<script src="pokemon.js" type="text/javascript"></script>