<div action="" class="div_search">
  <label
    (click)="gotohome()"
    class="title"
    for="pokemon"
    title="Rechercher un pokémon par son id"
    >POKEDEX</label
  >
    <input
      type="text"
      [(ngModel)]="pokemonInputInfo"
      placeholder="N° d'enregistrement"
    />
    <button mat-button class="button-arounder" (click)="getValue()">
      Valider
    </button>
</div>

<div class="div_info" *ngIf="pokemonInfo">
  <div class="pokemonInfo">
    <div *ngIf="pokemonPictureShiny" class="pic1">
      <h1>{{ pokemonName }} chromatique</h1>
      <img src="{{ pokemonPictureShiny }}" alt="" srcset=""/>
    </div>
    <div class="div3"> </div>
    <div *ngIf="pokemonPictureDefault" class="pic2">
      <h1>{{ pokemonName }} normal</h1>
      <img src="{{ pokemonPictureDefault }}" alt="" srcset="" />
    </div>
  </div>
</div>
  <!-- <div *ngIf="descriptionInfo">
    <p *ngIf="pokemonGeneralType">
      {{ pokemonName }} est un {{ pokemonGeneralType }}
    </p>
    <p>Il évolue en {{ descriptionInfo.evolves_from_species.name }}</p>
    <p *ngIf="pokemonInfo.base_experience">
      L'expérience de base de ce pokémon est de
      {{ pokemonInfo.base_experience }}
    </p>
    <p *ngFor="let frenchDescriptionPokemon of frenchDescriptionPokemons">
      {{ frenchDescriptionPokemon }}
    </p>
  </div> -->
