* {
  font-family: "Times New Roman", Times, serif !important;
  letter-spacing: 0.1em!important;
}
/* HEADER */
.div_search {
  text-align: center;
  font-size: 9em;
  margin-top: 0.6em !important;
}
input {
  margin: 7em auto auto auto;
  width: 17em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: block;
}
.button-arounder {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: inline;
  cursor: pointer;
  transition: 0.8s;
}
.button-arounder:hover {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: inline;
  cursor: pointer;
  background-color: black;
  color: aqua;
  border-radius: 30%;
}
/* BODY */
.pokemonInfo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 {
  grid-area: 1 / 2 / 2 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5; 
}
img {
  width: 250px;
}
.descriptionInfo{
  text-align: center;
  margin-top: -1200px;
}
p{
  font-size: large;
}