<div action="" class="div_search">
  <label for="pokemon" title="Rechercher un pokémon par son id">Pokedex</label
  ><br />
  <input type="text" [(ngModel)]="pokemonInputInfo" /><br />
  <button (click)="getValue()">Valider</button>
</div>

<div class="div_info" *ngIf="pokemonInfo">
  <p>Voici les infos du pokémon {{ pokemonInfo.name }}</p>
  <div class="pokemonInfo">
    <div>
      <p>{{ pokemonInfo.name }} chromatique</p>
      <img
        *ngIf="pokemonInfo.sprites.front_shiny"
        src="{{ pokemonInfo.sprites.front_shiny }}"
        alt=""
        srcset=""
      />
    </div>
    <div>
      <p>{{ pokemonInfo.name }} normal</p>
      <img
        *ngIf="pokemonInfo.sprites.front_default"
        src="{{ pokemonInfo.sprites.front_default }}"
        alt=""
        srcset=""
      />
    </div>
  </div>

  <div *ngIf="descriptionInfo">
    <p *ngIf="descriptionInfo.genera[3].genus">
      {{ pokemonInfo.name }} est un {{ descriptionInfo.genera[3].genus }}
    </p>
    <p *ngIf="pokemonInfo.base_experience">
      L'expérience de base de ce pokémon est de
      {{ pokemonInfo.base_experience }}
    </p>
    <p *ngIf="descriptionInfo.flavor_text_entries[18].language.name == 'fr'">
      {{ descriptionInfo.flavor_text_entries[18].flavor_text }}
    </p>
  </div>
</div>
